---
const links = [
  {
    label: 'Inicio',
    href: '/#hero',
  },
  {
    label: 'Proyectos',
    href: '/#projects',
  },
  {
    label: 'Conóceme',
    href: '/#about',
  },
  {
    label: 'Tecnologías',
    href: '/#stack',
  },
]
---

<nav
  class="fixed top-0 z-10 w-screen flex px-16 py-2 text-white font-[Bebas_Neue] text-2xl"
>
  <ul class="ml-auto flex gap-2">
    {
      links.map((link) => (
        <li>
          <a
            class="text-white/50 hover:text-white transition-colors duration-100 hover:ease-in ease-out navbar-link"
            id={link.href}
            href={link.href}
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    animation: scrollDown both;
    animation-timeline: scroll();
    animation-range: entry 1% cover 5%;
  }

  @keyframes scrollDown {
    to {
      background-color: #00000080;
      backdrop-filter: blur(10px);
    }
  }

  .active {
    color: #fff;
  }
</style>

<script>
  const links = document.querySelectorAll('.navbar-link')
  const setActiveLink = (activeRoute: string) => {
    links.forEach((link) => {
      if (link.id == activeRoute) link.classList.add('active')
      else link.classList.remove('active')
    })
  }
  let fullLocation = `${location.pathname}${location.hash}`
  setActiveLink(fullLocation)
  window.addEventListener('hashchange', () => {
    setActiveLink(`${location.pathname}${location.hash}`)
  })
</script>
